#{extends 'standardForm.html' /}
#{set title:'Valute' /}

<script>

$(document).ready(function(){
	$("#drzavaPickup").click(function(){
		id = $(".highlighted").find(".dr_id").html();
		$("#nMesto_drzava_id").val(id);
		$('#drzaveModal').modal('toggle');
	});
});

function remove(id){
	$(location).attr('href','/Valute/remove?id='+id);
}

function sync(item){
	var zvanicnaSifra = item.find(".zvanicnaSifra").html();
    var naziv = item.find(".naziv").html();
    var domicilna = item.find(".domicilna").html();
    var id = item.find(".id").html();
    var drzavaId = item.find(".drzava_id").html();
    $("#valuta_zvanicnaSifra").val(zvanicnaSifra);
    $("#valuta_id").val(id);
   	$("#valuta_domicilna").val(domicilna);
    $("#valuta_naziv").val(naziv);
    $("#valuta_drzava_id").val(drzavaId);
}

</script>

<p>
<ul>
  <li><a href="@{Valute.show("search")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Valute.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Valute</h1>

<table>
	<tr class = "header"> 
	   <th width="20%">Zvanicna Sifra</th>
	   <th>Naziv</th>
	   <th>Domicilna</th>
	   <th>Drzava</th>
	</tr>
#{list items:valute, as:'valuta'}
	<tr>
		<td class = "zvanicnaSifra">${valuta.zvanicnaSifra}</td>
		<td class = "naziv">${valuta.naziv}</td>
		<td class = "domicilna">${valuta.domicilna}</td>
		<td class = "drzava">${valuta.drzava.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${valuta.id}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "drzava_id">${valuta.drzava.id}</td>
	</tr>
#{/list}
</table>


#{set 'action'}
    #{if mode == 'add'}
        @{Valute.create()}
    #{/if}
    #{elseif mode == 'edit'}
        @{Valute.edit()}
    #{/elseif}
    #{else}
       @{Valute.filter()}
    #{/else}
  #{/set}
  
<div class = "panel">
	<p>
	
		<form action = "${action}" method="post">
		
				#{field 'valuta.id'}
					<input type = "hidden" name = "${field.name}" id = "valuta_id"/>
				#{/}
				<p>
				#{field 'valuta.zvanicnaSifra'}
					<label for = "${field.id}">Zvanicna Sifra</label>
					<input type = "text" name = "${field.name}" id = "valuta_zvanicnaSifra"/>
				#{/}
				</p>
				<p>
				#{field 'valuta.domicilna'}
					<label for = "${field.id}">Domicilna</label>
					<input type = "text" name = "${field.name}" id = "valuta_domicilna"/>
				#{/}
				</p>
				<p>
				#{field 'valuta.naziv'}
					<label for = "${field.id}">Naziv</label>
					<input type = "text" name = "${field.name}" id = "valuta_naziv"/>
				#{/}
				</p>
				<p>
				#{field 'valuta.drzava.id'}
					<label for = "valuta_drzava_id">Drzava</label>
					<select name = "${field.name}" id = "valuta_drzava_id"/>
					#{list items:drzave, as:'drzava'}
					<option value = "${drzava.id}">${drzava.naziv}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#drzaveModal">...	</button>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

 <!-- Modal -->
  <div class="modal fade" id="drzaveModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Drzave
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Oznaka</th> 
		   <th>Naziv</th>
		</tr>
		#{list items:drzave, as:'drzava'}
		<tr>
			<td class = "dr_oznaka">${drzava.oznaka}</td>
			<td class = "dr_naziv">${drzava.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "dr_id">${drzava.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "drzavaPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>
