#{extends 'standardForm.html' /}
#{set title:'Valute' /}

<script>

$(document).ready(function(){
	$("#drzavaPickup").click(function(){
		id = $(".highlighted").find(".dr_id").html();
		$("#valuta_drzava_id").val(id);
		$('#drzaveModal').modal('toggle');
	});
});

function remove(id){
	$(location).attr('href','/Valute/remove?id='+id);
}

function sync(item){
	var oznaka = item.find(".oznaka").html();
	var zvanicnaSifra = item.find(".zvanicnaSifra").html();
    var naziv = item.find(".naziv").html();
    var domicilna = item.find(".domicilna").html();
    var id = item.find(".id").html();
    var drzavaId = item.find(".drzava_id").html();
    $("#valuta_oznaka").val(oznaka);
    $("#valuta_zvanicnaSifra").val(zvanicnaSifra);
    $("#valuta_id").val(id);
   	$("#valuta_domicilna").prop("checked", domicilna == 'true');
    $("#valuta_naziv").val(naziv);
    $("#valuta_drzava_id").val(drzavaId);
}

</script>

<div>
	<ul>
	  <li><a href="@{Application.index()}" id = "search"><img src="@{'/public/images/home.png'}"/></a></li>
	  <li><a href="@{Valute.show("search")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
	  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
	  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
	  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
	  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
	  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
	  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
	  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
	  <li><a href="@{Valute.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
	  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
	  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
	</ul>
</div>

<div class = "container-fluid">
	<h1>Valute</h1>

	<table class="table table-bordered">
		<tr class = "header"> 
		   <th width="20%">Zvanicna Sifra</th>
		   <th>Oznaka</th>
		   <th>Naziv</th>
		   <th>Domicilna</th>
		   <th>Drzava</th>
		</tr>
	#{list items:valute, as:'valuta'}
		<tr>
			<td class = "zvanicnaSifra">${valuta.zvanicnaSifra}</td>
			<td class = "oznaka">${valuta.oznaka}</td>
			<td class = "naziv">${valuta.naziv}</td>
			<td class = "domicilna">${valuta.domicilna}</td>
			<td class = "drzava">${valuta.drzava.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "id">${valuta.id}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "drzava_id">${valuta.drzava.id}</td>
		</tr>
	#{/list}
	</table>
</div>

#{set 'action'}
    #{if mode == 'add'}
        @{Valute.create()}
    #{/if}
    #{elseif mode == 'edit'}
        @{Valute.edit()}
    #{/elseif}
    #{else}
       @{Valute.filter()}
    #{/else}
  #{/set}
  
<div class = "container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-wrapper row">
				<form action = "${action}" method="post" class="form-horizontal" onsubmit= "return validate();">
					#{field 'valuta.id'}
						<input type = "hidden" name = "${field.name}" id = "valuta_id"/>
					#{/}
					<div class="form-group">
					#{field 'valuta.oznaka'}
						<label for = "${field.id}" class="col-sm-3 control-label">Oznaka</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "valuta_oznaka" class="form-control"/>
							<p id="error1"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'valuta.zvanicnaSifra'}
						<label for = "${field.id}" class="col-sm-3 control-label">Zvanicna Sifra</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "valuta_zvanicnaSifra" class="form-control"/>
							<p id="error2"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'valuta.domicilna'}
						<label for = "${field.id}" class="col-sm-3 control-label">Domicilna</label>
						<div class="col-sm-9">	
							<input type = "checkbox" name = "${field.name}" id = "valuta_domicilna" />
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'valuta.naziv'}
						<label for = "${field.id}" class="col-sm-3 control-label">Naziv</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "valuta_naziv" class="form-control"/>
							<p id="error3"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'valuta.drzava.id'}
						<label for = "valuta_drzava_id" class="col-sm-3 control-label">Drzava</label>
						<div class="col-sm-7">
							<select name = "${field.name}" id = "valuta_drzava_id" class="form-control"/>
							#{list items:drzave, as:'drzava'}
							<option value = "${drzava.id}">${drzava.naziv}</option>
							#{/list}
							</select>
						</div>
						<div class="col-sm-2">
						 	<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#drzaveModal">...	</button>
					 	</div>
					#{/}
					</div>
					<div class="form-group">
						<div id = "formActions" class="col-sm-offset-3 col-sm-9">
							<input type = "submit" value = "Potvrda" class="btn btn-default"/>
							<a href = "#">Rollback</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="drzaveModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
    	Drzave
    </div>
    <div class="modal-body">
   <table class="table table-bordered">
	<tr class = "header">
	   <th>Oznaka</th> 
	   <th>Naziv</th>
	</tr>
	#{list items:drzave, as:'drzava'}
	<tr>
		<td class = "dr_oznaka">${drzava.oznaka}</td>
		<td class = "dr_naziv">${drzava.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "dr_id">${drzava.id}</td>
	</tr>
	#{/list}
	</table>
	<div class="modal-footer">
		<input id = "drzavaPickup" type = "button" value = "izbor"/>
	</div>
	</div>
    </div>
  </div>
</div>

<!-- Validacija -->
<script type="text/javascript">
	$(function validate() {
    	var errors = "";
	
		var element = document.getElementById("valuta_oznaka");
		if(element.value == "") {
			errors = "Polje Oznaka ne sme biti prazno.";
			document.getElementById( "error1" ).innerHTML = errors;
					return false;
		}
		else if(element.value.length > 3) {
			errors = "Polje Oznaka ne sme imati vise od 3 karaktera.";
			document.getElementById( "error1" ).innerHTML = errors;
					return false;
		}
		
		var element = document.getElementById("valuta_zvanicnaSifra");
		if(element.value == "") {
			errors = "Polje Zvanicna Sifra ne sme biti prazno.";
			document.getElementById( "error2" ).innerHTML = errors;
					return false;
		}
		else if(element.value !== parseInt(element.value, 10)) {
			errors = "Polje Zvanicna Sifra mora biti ceo broj.";
			document.getElementById( "error2" ).innerHTML = errors;
					return false;
		}
		
		var element = document.getElementById("valuta_naziv");
		if(element.value == "") {
			errors = "Polje Naziv ne sme biti prazno.";
			document.getElementById( "error3" ).innerHTML = errors;
					return false;
		}
		else if(element.value.length > 30) {
			errors = "Polje Naziv ne sme imati vise od 30 karaktera.";
			document.getElementById( "error3" ).innerHTML = errors;
					return false;
		}
		
		else {
			return true
		}
    			
    });
</script>