#{extends 'standardForm.html' /}
#{set title:'Banke' /}



<script>

function remove(id){
	$(location).attr('href','/Banke/remove?id='+id);
}

function sync(item){
	var sifra = item.find(".sifra").html();
    var pib = item.find(".pib").html();
    var naziv = item.find(".naziv").html();
    var adresa = item.find(".adresa").html();
    var email = item.find(".email").html();
    var web = item.find(".web").html();
    var telefon = item.find(".telefon").html();
    var fax = item.find(".fax").html();
    var banka = item.find(".banka").html();
    var id = item.find(".id").html();
    $("#banka_id").val(id);
    $("#banka_sifra").val(sifra);
    $("#banka_pib").val(pib);
   	$("#banka_naziv").val(naziv);
    $("#banka_adresa").val(adresa);
    $("#banka_email").val(email);
    $("#banka_web").val(web);
    $("#banka_telefon").val(telefon);
    $("#banka_fax").val(fax);
    $("#banka_banka").prop("checked", banka == "true");
}

</script>

<div>
<ul>
  <li><a href="@{Application.index()}" id = "search"><img src="@{'/public/images/home.png'}"/></a></li>
  <li><a href="@{Banke.show("search")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{Banke.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</div>

<div class = "container-fluid">
	<h1>Banke</h1>

	<table class="table table-bordered">
	<tr class = "header"> 
	   <th>Sifra</th>
	   <th>Pib</th>
	   <th>Naziv</th>
	   <th>Adresa</th>
	   <th>Email</th>
	   <th>Web</th>
	   <th>Telefon</th>
	   <th>Faks</th>
	   <th>Centralna banka</th>
	   <th width="50"></th>
	</tr>
	#{list items:banke, as:'banka'}
	<tr>
		<td class = "sifra">${banka.sifra}</td>
		<td class = "pib">${banka.pib}</td>
		<td class = "naziv">${banka.naziv}</td>
		<td class = "adresa">${banka.adresa}</td>
		<td class = "email">${banka.email}</td>
		<td class = "web">${banka.web}</td>
		<td class = "telefon">${banka.telefon}</td>
		<td class = "fax">${banka.fax}</td>
		<td class = "banka">${banka.banka}</td>
		<td align="center">
				<a href="@{RacuniPravnihLica.racuniBanke(banka.id)}" class="btn btn-info btn-xs">Klijenti Banke</a>
		</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${banka.id}</td>
	</tr>
	#{/list}
	</table>
</div>

#{set 'action'}
    #{if mode == 'add'}
        @{Banke.create()}
    #{/if}
    #{elseif mode == 'edit'}
        @{Banke.edit()}
    #{/elseif}
    #{else}
       @{Banke.filter()}
    #{/else}
  #{/set}
  
<div class = "container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-wrapper row">
				<form action = "${action}" method="post" class="form-horizontal" id="bankaForm" onsubmit = "return validate(this);">
					#{field 'banka.id'}
					<input type = "hidden" name = "${field.name}" id = "banka_id"/>
					#{/}
					<div class="form-group">
					#{field 'banka.sifra'}						
						<label for = "${field.id}" class="col-sm-3 control-label">Sifra</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "banka_sifra" class="form-control"/>
							<p id="error1"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'banka.pib'}
						<label for = "${field.id}" class="col-sm-3 control-label">Pib</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "banka_pib" class="form-control"/>
							<p id="error2"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'banka.naziv'}
						<label for = "${field.id}" class="col-sm-3 control-label">Naziv</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "banka_naziv" class="form-control"/>
							<p id="error3"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'banka.adresa'}
						<label for = "${field.id}" class="col-sm-3 control-label">Adresa</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "banka_adresa" class="form-control"/>
							<p id="error4"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'banka.email'}
						<label for = "${field.id}" class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<input type = "email" name = "${field.name}" id = "banka_email" class="form-control"/>
							<p id="error5"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'banka.web'}
						<label for = "${field.id}" class="col-sm-3 control-label">Web</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "banka_web" class="form-control"/>
							<p id="error6"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'banka.telefon'}
						<label for = "${field.id}" class="col-sm-3 control-label">Telefon</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "banka_telefon" class="form-control"/>
							<p id="error7"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'banka.fax'}
						<label for = "${field.id}" class="col-sm-3 control-label">Faks</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "banka_fax" class="form-control"/>
							<p id="error8"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'banka.banka'}
						<label for = "${field.id}" class="col-sm-3 control-label">Centralna Banka</label>
						<div class="col-sm-9">
							<input type = "checkbox" name = "${field.name}" id = "banka_banka" />
						</div>
					#{/}
					</div>
					<div class="form-group">
						<div id = "formActions" class="col-sm-offset-3 col-sm-9">
							<input type = "submit" value = "Potvrda" class="btn btn-default" />
							<a href = "#">Rollback</a>
						</div>
					</div>
				</form>
				<p id="error_para" ></p>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="drzaveModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
    	Drzave
    </div>
    <div class="modal-body">
   <table class="table table-bordered">
	<tr class = "header">
	   <th>Oznaka</th> 
	   <th>Naziv</th>
	</tr>
	#{list items:drzave, as:'drzava'}
	<tr>
		<td class = "dr_oznaka">${drzava.oznaka}</td>
		<td class = "dr_naziv">${drzava.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "dr_id">${drzava.id}</td>
	</tr>
	#{/list}
	</table>
	<div class="modal-footer">
		<input id = "drzavaPickup" type = "button" value = "izbor"/>
	</div>
	</div>
    </div>
  </div>
</div>


<!-- Validacija -->
<script type="text/javascript">
	$(function validate(bankaForm) {
    			var errors = "";
    			
    			var element = document.getElementById("banka_sifra");
				if(element.value == "") {
					errors = "Polje Sifra ne sme biti prazno.";
					document.getElementById( "error1" ).innerHTML = errors;
					return false;
				}
				else if(element.value.length > 3) {
					errors = "Polje Sifra ne sme biti duze od tri karaktera.";
					document.getElementById( "error1" ).innerHTML = errors;
					return false;
				}
				
				var element = document.getElementById("banka_pib").value;
				if(element == "") {
					errors = "Polje Pib ne sme biti prazno.";
					document.getElementById( "error2" ).innerHTML = errors;
					return false;
				}
				else if(element.length > 10) {
					errors = "Polje Pib ne sme biti duze od deset karaktera.";
					document.getElementById( "error2" ).innerHTML = errors;
					return false;
				}
				
				var element = document.getElementById("banka_naziv").value;
				if(element == "") {
					errors = "Polje Naziv ne sme biti prazno."
					document.getElementById( "error3" ).innerHTML = errors;
					return false;
				}
				else if(element.length > 120) {
					errors = "Polje Naziv ne sme biti duze od 120 karaktera.";
					document.getElementById( "error3" ).innerHTML = errors;
					return false;
				}
				
				var element = document.getElementById("banka_adresa").value;
				if(element == "") {
					errors = "Polje Adresa ne sme biti prazno.";
					document.getElementById( "error4" ).innerHTML = errors;
					return false;
				}
				else if(element.length > 120) {
					errors = "Polje Adresa ne sme biti duze od 120 karaktera.";
					document.getElementById( "error4" ).innerHTML = errors;
					return false;
				}
				
				var element = document.getElementById("banka_email").value;
				if(element.length > 128) {
					errors = "Polje Email ne sme biti duze od 128 karaktera.";
					document.getElementById( "error5" ).innerHTML = errors;
					return false;
				}
				
				var element = document.getElementById("banka_web").value;
				if(element.length > 128) {
					errors = "Polje Web ne sme biti duze od 128 karaktera.";
					document.getElementById( "error6" ).innerHTML = errors;
					return false;
				}
				
				var element = document.getElementById("banka_telefon").value;
				if(element.length > 20) {
					errors = "Polje Telefon ne sme biti duze od 20 karaktera.";
					document.getElementById( "error7" ).innerHTML = errors;
					return false;
				}
				
				var element = document.getElementById("banka_fax").value;
				if(element.length > 20) {
					errors = "Polje Fax ne sme biti duze od 20 karaktera.";
					document.getElementById( "error8" ).innerHTML = errors;
					return false;
				}
				else {
					return true;
				}
    			
    		});
</script>


