#{extends 'standardForm.html' /}
#{set title:'Države' /}

<script>

function sync(item){
	oznaka = item.find(".oznaka").html()
    naziv = item.find(".naziv").html()
    id = item.find(".id").html()
    $("#drzava_oznaka").val(oznaka);
    $("#drzava_naziv").val(naziv);
    $("#drzava_id").val(id);
}


function remove(id){
	$(location).attr('href','/Drzave/remove?id='+id);
}

function nextForm(id){
	//id = $("#drzava_id").val();
	window.location = "/naseljenamesta/next" + "?drzava_id=" + id;
}



</script>

<div>
	<ul>
	  <li><a href="@{Application.index()}" id = "search"><img src="@{'/public/images/home.png'}"/></a></li>
	  <li><a href="@{Drzave.show("search")}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
	  <li><a href="#" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
	  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
	  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
	  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
	  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
	  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
	  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
	  <li><a href="@{Drzave.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
	  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
	  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
	</ul>
</div>

<div class = "container-fluid">
	<h1>Drzave</h1>

	<table class="table table-bordered">
		<tr class = "header"> 
		   <th>Oznaka</th>
		   <th>Naziv</th>
		   <th>Drzavne Valute</th>
		</tr>
	#{list items:drzave, as:'drzava'}
		<tr>
			<td class="oznaka">${drzava.oznaka}</td>
			<td class="naziv">${drzava.naziv}</td>
			<td class="valute">${drzava.drzavneValute.naziv}</td>
			<td style="visibility: hidden; max-width: 0px" class = "id">${drzava.id}</td>
		</tr>
	#{/list}
	</table>
</div>

#{set 'action'}
    #{if mode == 'add'}
        @{Drzave.create()}
    #{/if}
    #{elseif mode == 'edit'}
        @{Drzave.edit()}
    #{/elseif}
    #{else}
       @{Drzave.filter()}
    #{/else}
  #{/set}
  
  
  
<div class = "container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-wrapper row">
				<form action = "${action}" method="post" class="form-horizontal" onsubmit= "return validate(this);">
					#{field 'drzava.id'}
						<input type = "hidden" name = "${field.name}" id = "drzava_id"/>
					#{/}
					<div class="form-group">
					#{field 'drzava.oznaka'}
						<label for = "${field.id}" class="col-sm-3 control-label">Oznaka</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "drzava_oznaka" class="form-control"/>
							<p id="error1"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'drzava.naziv'}
						<label for = "${field.id}" class="col-sm-3 control-label">Naziv</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "drzava_naziv" class="form-control"/>
							<p id="error2"></p>
						</div>
					#{/}
					</div>
					<div class="form-group">
						<div id = "formActions" class="col-sm-offset-3 col-sm-9">
							<input type = "submit" value = "Potvrda" class="btn btn-default"/>
							<a href = "#">Rollback</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Validacija -->
<script type="text/javascript">
	$(function validate() {
    	var errors = "";
	
		var element = document.getElementById("drzava_oznaka");
		if(element.value == "") {
			errors = "Polje Oznaka ne sme biti prazno.";
			document.getElementById( "error1" ).innerHTML = errors;
					return false;
		}
		else if(element.value.length > 3) {
			errors = "Polje Oznaka ne sme imati vise od 3 karaktera.";
			document.getElementById( "error1" ).innerHTML = errors;
					return false;
		}
		
		var element = document.getElementById("drzava_naziv").value;
		if(element.length > 30) {
			errors = "Polje Naziv ne sme imati vise od 30 karaktera.";
			document.getElementById( "error2" ).innerHTML = errors;
					return false;
		}
		
		else {
			return true
		}
    			
    });
</script>

