table {
	border-collapse: collapse;	
	width:100%;
}

table, th, td {
	border: 1px solid black;
}

table tr.highlighted{
	background: yellow;	
}
/*
div.panel{
	margin-top:2em;
	border:solid 1px;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.form-wrapper{
	width:500px;
}
#main-container{
	margin-top: 65px;
}

#bankeModal .modal-dialog {
	width: 800px;
}

#kursnaListaModal .modal-dialog {
	width: 1000px;
}
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}
.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}
#klijent-group{
	margin-bottom: 0;
}