table {
	border-collapse: collapse;	
	width:100%;
}

table, th, td {
	border: 1px solid black;
}

table tr.highlighted{
	background: yellow;	
}
/*
div.panel{
	margin-top:2em;
	border:solid 1px;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.form-wrapper{
	width:500px;
}
#main-container{
	margin-top: 65px;
}

#bankeModal .modal-dialog {
	width: 800px;
}

#kursnaListaModal .modal-dialog {
	width: 1000px;
}