#{extends 'standardForm.html' /}
#{set title:'About' /}

  <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="@{Application.index()}">Poslovna banka</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="@{About.show()}">Informacije</a></li>
            
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    
    <div class="container" id="main-container">
    	<p>Projekat iz predmeta Poslovna Informatika.<br/>
    	<br/>
    	   Tim11:<br/>
    	   Zivkovic Sara, RA32-2013<br/>
    	   Stojic Srecko, RA15-2012<br/>
    	   Varga Aleksandra, RA175-2012<br/>
    	   Todorovic Nevena, RA170-2012<br/>
    	</p>
    
    </div><!--/.container-->
    
  </body>